<div class="head text-center">
    <h1>Vote for the cutest!</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm text-center">
            <img id="cat1" class="img-circular" height="300px" src=""></img>
        </div>
        <div class="col-sm text-center">
            <img id="cat2" class="img-circular" height="300px" src=""></img>
        </div>
    </div>
    <script src="@Url.Content("~/Content/Catmash.js")" type="text/javascript"></script>
</div>