@model IEnumerable<Back.Models.Cat>

@{
    ViewBag.Title = "Results";
}

<h2>Results</h2>
<table class="table">

@foreach (var item in Model) {
    <tr>
       <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.PhotoUrl)"  class="img-circular" height="300px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elo)
        </td>
    </tr>
}

</table>
